body {
    width: 17em;
    padding: 10 10 10 10;
    font-family: Arial;
    float:right;
    overflow:hidden;

}
#menu {
    border-style: solid;
    border-width: 1px;
    background-color: #F62459;
}
#title {
    border-style: solid;
    border-width: 0.1px;
    width: 100%;
    text-align: center;
    
}
#menu_buttons button {
    border-style: solid;
    border-width: 0.1px;
    color: blue;
    font-size: 20px;
    background: #F39C12;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 100%;
    height: 1.9em;
    margin: 0 0 0 0;
}

#menu_buttons button:hover {
    background: #F9BF3B;
    background-image: -webkit-linear-gradient(top, #F9BF3B, #F39C12);
    background-image: -moz-linear-gradient(top, #F9BF3B, #F39C12);
    background-image: -ms-linear-gradient(top, #F9BF3B, #F39C12);
    background-image: -o-linear-gradient(top, #F9BF3B, #F39C12);
    background-image: linear-gradient(to bottom, #F9BF3B, #F39C12);
    text-decoration: none;
}
