@import url(http://fonts.googleapis.com/css?family=Montserrat:400);

body
{
    background : rgba(0,0,0,0.8);
    font-family: 'Montserrat', Calibri, arial, sans-serif;
}

main
{
    background-color : whitesmoke;    
    margin-left: auto;
    margin-right: auto;
    margin-top : 50px;
    width: 40%;
    border : 1px solid black;
    border-radius: 1%;
    padding-bottom: 1%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

header
{
    text-align: center;
}

#aide
{
    display:flex;
    flex-wrap: wrap;
    justify-content : space-around;
    flex-direction: row;
    text-align: center;
}

.marge_gauche
{
    margin-left: 10%;
    margin-right:10%;
}

.milieu
{
    margin-left: 15%;
    margin-right: 15%;
}

.marge_droite
{
    margin-left: 10%;
    margin-right: 10%;
}

.select
{
    text-align: left;
}

.divider
{
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius:20px;
    height: 2px;
    width: 90%;
    display: block;
    background-image: linear-gradient(to right, orangered,yellow);
}

.container
{
    background-color : lightgray;
    margin-left:auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    overflow: auto;
    border-radius:1%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.btn {
  width: 200px;
  background: #f1c40f;
  background-image: -webkit-linear-gradient(top, #f1c40f, #e0b60d);
  background-image: -moz-linear-gradient(top, #f1c40f, #e0b60d);
  background-image: -ms-linear-gradient(top, #f1c40f, #e0b60d);
  background-image: -o-linear-gradient(top, #f1c40f, #e0b60d);
  background-image: linear-gradient(to bottom, #f1c40f, #e0b60d);
  margin:5px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    
}

.btn:hover {
  background: #f1c40f;
  background-image: -webkit-linear-gradient(top, #f1c40f, #ffcd03);
  background-image: -moz-linear-gradient(top, #f1c40f, #ffcd03);
  background-image: -ms-linear-gradient(top, #f1c40f, #ffcd03);
  background-image: -o-linear-gradient(top, #f1c40f, #ffcd03);
  background-image: linear-gradient(to bottom, #f1c40f, #ffcd03);
  text-decoration: none;
}

.btn2 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin: 15px;
  border: 2px solid rgb(241,196,15);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 25px/10px "Advent Pro", Helvetica, sans-serif;
  color: white;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: #F1C40F;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.btn2:hover {
  color: #F1C40F;
  background: white;
}

.btn2:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
